body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-image: url(../images/memphis-colorful.png);
    margin: 40px;
}

#game-title{
    text-align: center;
}

#game-details{
    font-family: 'Anton', sans-serif;
}

#computerRandoNum{
    width: 10%;
    height: 80px;
    padding-top: 25px;
    text-align: center;
    background-color: coral;
    border-color:blanchedalmond;
}

img{
    height: 100px;
}
.bluecrystal{
    float: left;
    height: 100px;
    width: 200px;
    margin-right: 20px;
}

.greencrystal{
    float: left;
    height: 100px;
    width: 200px;
    margin-right: 20px;
    margin-top: -30px;

}

.orangecrystal{
    float: left;
    height: 100px;
    width: 200px;
    margin-right: 20px;
    margin-top: -52px;
}

.redcrystal{
    float: left;
    height: 100px;
    width: 200px;
    margin-right: 20px;
    margin-top: -80px;

}

#usertotal{
    width: 10%;
    height: 80px;
    padding-top: 25px; 
    margin-top: 125px;
    text-align: center;
    background-color: coral;
    border-color:blanchedalmond;
}